### PANDAS REVISION

In [1]:
1+1

2

In [2]:
print("Welcome to Pandas")

Welcome to Pandas

In [3]:
!pip install pandas

Requirement already satisfied: pandas in f:\courses\ds,ml,dl,nlp\code\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in f:\courses\ds,ml,dl,nlp\code\venv\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in f:\courses\ds,ml,dl,nlp\code\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in f:\courses\ds,ml,dl,nlp\code\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in f:\courses\ds,ml,dl,nlp\code\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in f:\courses\ds,ml,dl,nlp\code\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

## Two data structures in pandas
    ##1. series
    ##2. dataframes

In [6]:
import pandas as pd

In [10]:
s=pd.Series([1,2,3,4,5])
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [11]:
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
print(s1)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [14]:
df = pd.read_csv('Dataset.csv')

In [15]:
df

                           id             label
0     Robert Downey Jr_87.jpg  Robert Downey Jr
1          Lisa Kudrow_64.jpg       Lisa Kudrow
2      Ellen Degeneres_34.jpg   Ellen Degeneres
3         Billie Eilish_3.jpg     Billie Eilish
4       Hrithik Roshan_35.jpg    Hrithik Roshan
...                       ...               ...
2557      Jessica Alba_90.jpg      Jessica Alba
2558   Elizabeth Olsen_27.jpg   Elizabeth Olsen
2559   Elizabeth Olsen_59.jpg   Elizabeth Olsen
2560       Henry Cavill_7.jpg      Henry Cavill
2561       Claire Holt_29.jpg       Claire Holt

[2562 rows x 2 columns]

In [16]:
df.head(10)

                         id              label
0   Robert Downey Jr_87.jpg   Robert Downey Jr
1        Lisa Kudrow_64.jpg        Lisa Kudrow
2    Ellen Degeneres_34.jpg    Ellen Degeneres
3       Billie Eilish_3.jpg      Billie Eilish
4     Hrithik Roshan_35.jpg     Hrithik Roshan
5  Vijay Deverakonda_39.jpg  Vijay Deverakonda
6         Tom Cruise_21.jpg         Tom Cruise
7         Alia Bhatt_41.jpg         Alia Bhatt
8    Elizabeth Olsen_36.jpg    Elizabeth Olsen
9    Charlize Theron_29.jpg    Charlize Theron

In [17]:
df.describe()

                        id      label
count                 2562       2562
unique                2562         31
top     Claire Holt_29.jpg  Brad Pitt
freq                     1        120

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2562 entries, 0 to 2561
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2562 non-null   object
 1   label   2562 non-null   object
dtypes: object(2)
memory usage: 40.2+ KB

In [19]:
df["id"]

0       Robert Downey Jr_87.jpg
1            Lisa Kudrow_64.jpg
2        Ellen Degeneres_34.jpg
3           Billie Eilish_3.jpg
4         Hrithik Roshan_35.jpg
                 ...
2557        Jessica Alba_90.jpg
2558     Elizabeth Olsen_27.jpg
2559     Elizabeth Olsen_59.jpg
2560         Henry Cavill_7.jpg
2561         Claire Holt_29.jpg
Name: id, Length: 2562, dtype: object

In [20]:
df["id","label"]

KeyError: ('id', 'label')

In [22]:
1+1

2